* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.word {
  color: #001405;
  font-size: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.word img {
  display: flex;
  align-items: center;
  transform: translateY(2px);
}
.container {
  width: 1400px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
}

.card {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
  text-align: left;
  align-items: flex-start;
  color: black;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card img {
  width: 100%;

  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__category,
.card__title,
.card__desc,
.card__price {
  padding-right: 10px;
  padding-left: 10px;
}

.card__category {
  font-size: 14px;
  color: #888;
  background-color: #f0f0f0;
}

.card__title {
  font-size: 20px;
  color: #333;
}

.card__desc {
  font-size: 16px;
  color: #666;
}

.rating {
  padding-top: 5px;
  padding-bottom: 5px;
}
.price {
  font-size: 18px;
  color: #001405;
  font-weight: bold;
  margin-top: auto;
  border-radius: 0 10px 10px 0;
  float: left;
  background-color: yellow;
}
.price:hover {
  background-color: rgb(154, 154, 28);
  color: white;
}
.stock {
  padding-bottom: 10px;
  padding-top: 5px;
}

.card span {
  font-size: 14px;
  color: #999;
}

.icon,
.box {
  color: rgb(255, 196, 0);
}

.foyda {
  display: none;
  position: absolute;
  bottom: 200px;
  right: 10px;
  background-color: rgba(184, 184, 184, 0.8);
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.foyda:hover {
  background-color: #7000ff;
  color: white;
}

.card:hover .foyda {
  display: block;
}

.heart {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.heart:hover {
  color: red;
}

.img-container {
  width: 100%;
  height: 229px;

  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.img-container img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.img-container:hover img {
  transform: scale(1.1);
}

.slider img {
  border-radius: 20px;
}
body {
  min-height: 100dvh;
  align-items: center;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  color: #ffffe6;
}

.carousel-container {
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  .carousel {
    width: 100%;
    position: relative;
    overflow: hidden;

    .item {
      opacity: 0;
      width: 100%;
      height: 100%;
      display: none;
      transition: opacity 0.5s ease-in-out;

      img {
        width: 100%;
        border-radius: 20px;
        object-position: center;
      }

      .caption {
        width: 100%;
        padding: var(--lx-space-01);
        position: absolute;
        bottom: 0;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
      }

      &.active {
        opacity: 1;
        display: block;
      }
    }
  }
  .fa-solid {
    color: #7000ff;
  }

  .btn {
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    outline: none;
    border: 1px solid #6f00ff3f;
    cursor: pointer;
    width: 50px;
    height: 50px;

    transition: transform 0.2s ease-in-out;

    &:active,
    &:focus {
      transform: translateY(-50%) scale(0.9);
    }

    &:hover {
      transform: translateY(-50%) scale(0.96);
    }
  }

  .prev {
    left: 2%;
    background-color: #ffffff49;
  }

  .next {
    right: 2%;
    background-color: #ffffff49;
  }

  .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transform: translateY(-30px);

    .dot {
      cursor: pointer;
      border-radius: 20px;
      height: 8px;
      width: 8px;
      background-color: #24242132;
      transition: background-color 0.2s ease;

      &.active,
      &:hover {
        background-color: #ffffe651;
      }
    }
  }
}

#product-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;

  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  color: #001405;
}

a {
  text-decoration: none;
  color: inherit;
}
.nav__info {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f0f2f5;
}

.flag-img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.list {
  display: flex;
  gap: 10px;
}

.item1 {
  color: #6f00ffb3;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5f5f5f;
}
.item3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flag-img {
  margin-left: 10px;
  margin-right: 5px;
  transform: translateY(2px);
}
.nav__info-container {
  width: 1400px;
  margin: 0 auto;
}

.background-section {
  background: #f0f2f5;
  padding: 5px;
}

.nav__info-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background: #f0f2f5;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.nav__logo img {
  width: 247px;
  height: 40px;
}

.nav__search-wrapp {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.562);
  border-radius: 5px;
  margin-left: 10px;
}

.nav__wrap {
  display: flex;
  align-items: center;
}

.nav__katalog {
  padding: 10px;
  padding-top: 7px;
  width: 120px;
  height: 40px;
  text-align: center;
  background: #d0ceff;
  color: #7f4dff;
  border-radius: 5px;
}

.nav__pro {
  display: flex;
  align-items: center;
  color: #001405;
  gap: 10px;
}

.nav__search {
  padding: 10px 26px 10px 16px;
  width: 450px;
  height: 37px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

.nav__btn {
  padding: 10px;
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0 5px 5px 0;
  color: #4d4f59;
  background: rgba(128, 128, 128, 0.178);
}

.nav__profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-wrapp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #001405;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 320px;
  height: 60px;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  margin-top: 10px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #efefef;
}

.btn1 img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: transform 0.5s ease;
}

.btn1:hover {
  background-position: right center;
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn1:hover img {
  transform: scale(1.1);
}

.btn1 span {
  margin-left: 15px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  overflow: hidden;
}
.menu img {
  width: 25px;
  transition: transform 0.3s ease;
}

.menu a {
  font-size: 14px;
}
.menu-item {
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.menu-item:hover {
  color: #3b3838;
}
.menu-item1 {
  color: #808080;
  text-decoration: none;
  transition: color 0.3s ease;
}
.menu-item1:hover {
  color: #3b3838;
}

.menu-item:hover {
  opacity: 0.9;
}

.yana {
  background-color: #e6e8ed;
  width: 740px;
  height: 56px;
  border-radius: 8px;
  margin: 0 auto;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 48px;
}

.yana span {
  display: flex;
  padding-top: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.yana:hover span {
  opacity: 1;
  cursor: pointer;
}

.futer-img {
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
}

.futer-img img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.futer-img img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

footer {
  padding: 20px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 auto;
}
.footer-section {
  min-width: 200px;
  margin: 10px;
}
.footer-section h4 {
  color: #001405;
  font-size: 16px;
  margin-bottom: 10px;
}
.footer-section a {
  width: 16px;
}
.footer-section.social a img {
  width: 35px;
}

.footer-section.download a img {
  width: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.footer-section ul li {
  margin-bottom: 20px;
}
.footer-section ul li a {
  text-decoration: none;
  color: #33333381;
}
.download img,
.social img {
  width: 120px;
  margin: 5px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
.footer-bottom a {
  text-decoration: none;
  color: #333;
}

.footer-bottom p {
  color: #666;
  font-size: 14px;
}

.footer-section.social {
  text-align: center;
  padding: 20px;
}

.footer-section.social a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease, filter 0.3s ease-in-out;
}

.footer-section.social img {
  width: 40px;
  filter: grayscale(100%);
  /* グレー */
  transition: filter 0.3s ease;
}

.footer-section.social a:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}
